@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
 
 body{
    Weights: 400, 700
 }
 
 
 .main-box{
    max-width: 600px;
    display: flex;
    border-radius: 30px;
    margin: 30px auto;
    background-color: white
    
}

 h1, span, button,label {
    text-align: center;
    margin: 20px 20px;


}


span{
    font-size: 16px;
}

h1{
    font: bold;
    margin:60px 0 0 20px ;
    
}

span{
    display: flex;
}

label{
    margin-left:25px ;
}

input,{
    padding: 12px;
    margin-left: 25px;

}

button{
    padding: 5% 2%;
    margin-left: 25px ;
    margin-bottom: 60px;    
}

.box{
flex-basis: 80%
}

.box2{
    display:flex;
    flex-basis: 40%
    
}
 
.svg{
    height:500px;
    width: 320px;
    margin: 12px 12px 0 12px;
    border-radius:30px ;
}